body {
  background-color: #1f1f20;
  color: rgb(245, 247, 245);
  max-width: 900px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}
h1,
h2 {
  color:  rgb(148, 235, 19);
  text-align: center;
  font-weight: bold;
}
section,
footer {
  margin-top: 1em;
  background-color: #3d3c3c38;
  border-radius: 10px;
  padding: 10px;
}
section ul {
  position: relative;
  margin-left: 0;
  padding-left: 1em;
}
li:before {
  content: '>';
  color: rgb(148, 235, 19);
  position: absolute;
  left: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-color:  rgb(148, 235, 19);
}
li > ul {
  margin-left: 1px;
}
li {
  font-size: 1.1rem;
  padding-bottom: 5px;
}
blockquote > p {
  line-height: 150%;
  padding: 5px 30px;
  text-align: center;
}

section > ul {
  padding-top: 20px;
}

p {
  margin-bottom: 10px;
}
a,
a:visited {
  color:  rgb(148, 235, 19);
  text-decoration-color: white;
}
footer {
  text-align: center;
}
footer > p > span:nth-child(2n) {
  display: none;
}
@media (min-width: 480px) {
  section ul {
    position: relative;
    margin-left: 0;
    padding-left: 1.1em;
  }
  li > ul {
    margin-left: 20px;
  }
  li {
    font-size: 1.3rem;
  }
  blockquote {
    padding: 20px 50px;

    font-size: 1.4rem;
    text-align: left;
  }
  
}

#float-social {
  position: sticky;
  bottom: calc(100% - 75px);
  left: calc(100% - 150px);
  width: 150px;
  height: 25px;
  background-color: rgba(7, 253, 7, 0.336);
  transform: rotate(45deg);
  text-align: center;
}